.api-pre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: monospace;
    margin: 0 0 0px;
    font-size: 15px;
    line-height: normal;
    color: #333;
    word-break: break-all;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    border-radius: 0px;
    overflow: auto;
    padding-top: 10px;
    padding: 0;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

meter{
  background: whitesmoke;
}

meter::-webkit-meter-bar {
  background: whitesmoke;
}

meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #62c462, #51a351);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450, #f89406);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

.axlabel {
  padding: 2px;
  border-radius: 5px;
  margin-right:5px;
}

.axlabel.category{
  border: 1px solid #c2e0c6;
  background-color: #c2e0c6;
}

.axlabel.branch{
  border: 1px solid #fef2c0;
  background-color: #fef2c0;
}

.axlabel.sys_number{
  border: 1px solid #d8bfd8;
  background-color: #d8bfd8;
}

.axlabel.uom{
  border: 1px solid #fbca04;
  background-color: #fbca04;
}

.axlabel.attribute{
  border: 1px solid #EE82EE;
  background-color: #EE82EE;
}

.axlabel.extra_attribute{
  border: 1px solid #deb887;
  background-color: #deb887;    
}

.axlabel.product{
  border: 1px solid #e99695;
  background-color: #e99695;    
}

.axlabel.packsize{
  border: 1px solid #b0c4de;
  background-color: #b0c4de;    
}

.axlabel.count{
  border: 1px solid #FF00FF;
  background-color: #FF00FF;
}

.axlabel.time{
  border: 1px solid #00FFFF;
  background-color: #00FFFF;
}

.axlabel.date{
  border: 1px solid #00FF00;
  background-color: #00FF00;
}

.axlabel.artifact{
  border: 1px solid #DC143C;
  background-color: #DC143C;
}


.content-area{
  margin-left:.75em;
  margin-right:.75em
}

.example, .structure {
  border: 1px solid #ccc;
  border-top-right-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  position: relative;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
