.textBlock {
    z-index: 1000;
    position: relative;
    padding: 4px;
    background: white;
}

.wordBlock {
    margin-top: 50px;
    z-index: 1000;
    position: relative;
    padding: 4px;
    background: white;
}

.multiEntity {
    float: left;
}

.singleEntity {
    float: left;
    margin-top: 4px;
}

.wordItem:not(:last-child) {
    margin-right: 20px;
}